@using E_ticaret_sitesi.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>

    </tr>

    @foreach (var k in Model)
    {
        <tr>
            
            <td>@k.Personelid </td>
            <td>@k.Personel.PersonelAd </td>
            <td>@k.Personel.PersonelSoyad </td>
            <td>@k.Personel.PersonelGorsel </td>
            <td>@k.Personel.Departman.DepartmanAd </td>
            <td><a href="/Personel/PersonelGetir/@k.Personelid" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@k.Personelid" class="btn btn-default" style="background-color:cadetblue; color:azure;">Detaylar</a></td>

        </tr>
    }
</table>